<!doctype html>
<html lang="en">

<head>
    {% block head %}
        {% include "partials/head.njk" %}
    {% endblock %}
</head>

<body>
    {% block nav %}
        {% include "partials/nav.njk" %}
    {% endblock %}

    <main class="site-main">
        {% block content %}{% endblock %}
    </main>

    <h1 class="mobile-page-title">Portfolio</h1>
    <section class="image-grid">
        <figure>
            <a href="/bikes/billy/index.html"><img src="/images/bikes/univega.jpg" alt="Univega cafe bike">
            <figcaption>Univega - "Billy"</figcaption></a>
        </figure>

        <figure>
            <a href="/bikes/standert_kreissage/index.html"><img src="/images/bikes/standert_kreissage.jpg" alt="Standert Kreissage">
            <figcaption>Standert Kreissage</figcaption></a>
        </figure>

        <figure>
            <a href="/bikes/gary_fisher_aquila/index.html"><img src="/images/bikes/gary_fisher_aquila.jpg" alt="Univega cafe bike">
            <figcaption>Gary Fisher Aquila</figcaption></a>
        </figure>

        <figure>
            <a href="/bikes/peugeot_carbolite/index.html"><img src="/images/bikes/peugeot_carbolite.jpg" alt="Peugeot Carbolite">
            <figcaption>Peugeot Carbolite</figcaption></a>
        </figure>

        <figure>
            <a href="/bikes/univega_alpina/index.html"><img src="/images/bikes/univega_alpina.jpg" alt="Univega Alpina">
            <figcaption>Univega Alphina</figcaption></a>
        </figure>

        <figure>
            <a href="/bikes/trek_antelope/index.html"><img src="/images/bikes/trek_antelope.jpg" alt="Trek Antelope">
            <figcaption>Trek Antelope</figcaption></a>
        </figure>

        <figure>
            <a href="/bikes/salsa_journeyer/index.html"><img src="/images/bikes/salsa_journeyer.jpg" alt="Salsa Journeyer">
            <figcaption>Salsa Journeyer</figcaption></a>
        </figure>

        <figure>
            <a href="bikes/elektra/index.html"><img src="/images/bikes/trek_mountaintrack.jpg" alt="Trek Mountaintrack">
            <figcaption>Trek Mountaintrack - "Elektra"</figcaption></a>
        </figure>

        <figure>
            <a href="/bikes/jamis_ventura/index.html"><img src="/images/bikes/jamis_ventura.jpg" alt="Jamis Ventura">
            <figcaption>Jamis Ventura - "Vicki"</figcaption></a>
        </figure>

        <figure>
            <a href="/bikes/specialized_allez/index.html"><img src="/images/bikes/P1060548.jpg" alt="Specialized Allez">
            <figcaption>Specalized Allez</figcaption></a>
        </figure>

        <figure>
            <a href="/bikes/canyon_endurance/index.html"><img src="/images/bikes/canyon_endurance.jpg" alt="Canyon Endurance">
            <figcaption>Canyon Endurance</figcaption></a>
        </figure>


        <figure>
            <a href="/bikes/gary_fisher_tassajara/index.html"><img src="/images/bikes/P1060577.jpg" alt="Gary Fisher Tassajara">
            <figcaption>Gary Fisher Tassajara</figcaption></a>
        </figure>


        <figure>
            <a href="/bikes/cannondale_cad2/index.html"><img src="/images/bikes/cannondale_cad2.jpg" alt="Marin Gravel">
            <figcaption>Cannondale CAD2</figcaption></a>
        </figure>

        <figure>
            <a href="/bikes/raleigh/index.html"><img src="/images/bikes/P1060391-Enhanced-NR.jpg" alt="Raleigh">
            <figcaption>Raleigh</figcaption></a>
        </figure>

    </section>
    {% block footer %}
        {% include "partials/footer.njk" %}
    {% endblock %}
</body>

</html>
