---
layout: layouts/about.njk
title: "About Mead Street Cycles"
image: "/images/close_ups/billy/P1060809-5.jpg"
image_alt: "Joe from Mead Street Cycles working on a bike frame"
blurb: |
  I started Mead Street Cycles as a small apartment workshop focused on giving overlooked frames a second life. 
  Every build begins with considering the rider and their needs, a little imagination, and a lot of elbow grease. 
  From commuter conversions to entry level road bikes, I’m obsessed with dialing in the fit, finish, and feel so each rider pedals away with something uniquely theirs.
---
