---
layout: layouts/services.njk
title: "Services"

sections:
  - title: Tune Up
    items:
      - name: Basic tune up
        price: $100
        sub_note: brakes, shifting + hubs - adjustment only, no replacement parts included
      - name: Pro tune up
        price: $200
        sub_note: includes all basic tune up services + pro bike clean

  - title: Cleaning
    items:
      - name: Basic bike wash/clean
        price: $20
      - name: Pro bike clean
        price: $100
        sub_note: Removing all components, degreasing, relube/hot wax, reassembly, full detail
      - name: Degrease existing chain/cassette
        price: $20

  - title: Tires & Wheels
    items:
      - name: Change tube + tire
        price: $15
        note: /each
      - name: True wheels
        price: $35
        note: /each
      - name: Tubeless setup
        price: $25
        note: /wheel (sealant included)
      - name: Tubeless sealant refresh
        price: $10
        note: /wheel (sealant included)

  - title: Drivetrain
    items:
      - name: Replace chain
        price: $15
        sub_note: degrease factory lube, reapplied low-wear lube
      - name: Full degrease & hot wax
        price: $30
        note: + cost of chain
      - name: Re-wax chain
        price: $15
      - name: Replace cassette
        price: $10
      - name: Bottom bracket replacement
        price: $30
    

  - title: Brakes
    items:
      - name: Replace/adjust brakes
        price: $15
        note: /each
      - name: Full disc service (Shimano)
        price: $50
        note: /each
        sub_note: pads, rotor + bleed

  - title: Shifting & Cables
    items:
      - name: Shifting adjustment
        price: $15
        note: /each
      - name: Replace cables/housing
        price: $15
        note: /each

  - title: Bars
    items:
      - name: Bar swap
        price: $15
        sub_note: does not include regrip or recable
      - name: Road bar tape wrap
        price: $30

  - title: Custom build
    items:
      - name: Frame up build
        price: $250
        note: + cost of parts

---
