---
layout: layouts/services.njk
title: "Services"

sections:
  - title: Cleaning
    items:
      - name: Bike wash/clean
        price: $10
      - name: Degrease existing chain/cassette
        price: $20

  - title: Tires & Wheels
    items:
      - name: Change tube + tire
        price: $15
        note: /each
      - name: True wheels
        price: $35
        note: /each
      - name: Tubeless setup
        price: $20
        note: /wheel (sealant included)

  - title: Drivetrain
    items:
      - name: Replace chain
        price: $15
        sub_note: degrease factory lube, reapplied low-wear lube
      - name: Full degrease & hot wax
        price: $30
        note: + cost of chain
      - name: Re-wax chain
        price: $15
      - name: Replace cassette
        price: $10
      - name: Bottom bracket replacement
        price: $30
      - name: Crank replacement
        price: $20
    

  - title: Brakes
    items:
      - name: Replace/adjust brakes
        price: $15
        note: /each
      - name: Full disc service (Shimano)
        price: $45
        note: /each
        sub_note: pads, rotor + bleed

  - title: Shifting & Cables
    items:
      - name: Shifting adjustment
        price: $15
        note: /each
      - name: Replace cables/housing
        price: $15
        note: /each

  - title: Pedals
    items:
      - name: Pedal install
        price: $15
        note: (pair)

  - title: Bars
    items:
      - name: Bar swap
        price: $15
        sub_note: does not include regrip or recable
      - name: Road bar tape install
        price: $15

rebuild:
  price: "$150 + cost of parts"
  note: Please allow up to two weeks.
---
