---
layout: layouts/bike.njk
title: "Cannondale CAD2 Flatbar Conversion"
year: ""
make: ""
model: ""
tags: [Commuter, Cafe Cruiser, Campus Bike]
hero: /images/bikes/cannondale_cad2.jpg

description: |
  

specs:
  Bars: "Upanbike urban road 640 mm"
  Grips: "Ergon GE1"
  Tires: "Panaracer Gravel King 30mm"
  Cranks: "Shimano Cues 40t"
  Deraileur: "Shimano Deore 10 speed"
  Cassette: "Shimano Deore 11/42"
  Pedals: "Rockbros MTB"

gallery: [
  /images/close_ups/cannondale_cad2/DSC00243.jpg,
  /images/close_ups/cannondale_cad2/DSC00245.jpg,
  /images/close_ups/cannondale_cad2/DSC00248.jpg,
  /images/close_ups/cannondale_cad2/DSC00249.jpg
]
blurb: |
  

closing_image: "/images/close_ups/cannondale_cad2/DSC00197.jpg"
---
