---
layout: layouts/bike.njk
title: "Cannondale CAD2"
year: ""
make: ""
model: ""
tags: [Commuter, Cafe Cruiser, Campus Bike]
hero: /images/bikes/cannondale_cad2.jpg

description: |
  

specs:
  Frame: ""
  Fork: ""
  Wheels: ""
  Tires: ""
  Drivetrain: ""
  Brakes: ""
  Cockpit: ""
  Saddle: ""
  Pedals: ""

gallery: []
blurb: |
  

closing_image: ""
---
