---
layout: layouts/bike.njk
title: Canyon Endurance - All Road
year: 2019
make: Canyon
model: Aero endurance 
tags: [Endurance road, gravel bike, all road]
hero: /images/bikes/canyon_endurance.jpg

description: 
  This Canyon saw a lot of hard miles on the road and many hours on the trainer.
  After fully rebuilding it with a new headset, drivetrain, bartape, brakes, and tires, it's ready to conquer any road.
specs:
  Wheels: DT Swiss F1800 Spline
  Tires: Panaracer Gravel King 30mm
  Drivetrain: Shimano 11 Speed Ultegra 11/34, 52/36
  Bartape: Zipp service course

gallery: [
  /images/close_ups/canyon_endurance/headset.png,
  /images/close_ups/canyon_endurance/bartape.png,
  /images/close_ups/canyon_endurance/bolt.png,
  /images/close_ups/canyon_endurance/cassette.png,
]
blurb: |
  <p>This is a cautionary tale about how important it is to clean off your bike after trainer rides. This Canyon had a whole host of issues when it came into the shop. The salt from the riders sweat rusted the headset bearings solid which could have caused a crash on the road. The drivetrain, brakes, and tires were all worn out from heavy use.
     It even had a broken water bottle bolt stuck in the frame. Evenso, we love a well worn bike coming into the shop because we know the owner will value the transformation.
     We were able to square away this rider with a new headset from Canyon, new bartape, tires, and a full drivetrain rebuild with a new cassette, chain, brakes, and a rear hub overhaul.
    The Panaracer Gravel King tires were a great selection for this bike, giving it the ability to roll fast on pavement and tackle dirt roads with ease.
  </p>

  

closing_image: "/images/close_ups/canyon_endurance/P1070441-2.jpg"
---
