---
layout: layouts/bike.njk
title: Canyon Endurance - All Road
year: 2019
make: Canyon
model: Aero endurance 
tags: [Endurance road, gravel bike, all road]
hero: /images/bikes/canyon_endurance.jpg

description: |
  

specs:
  Wheels: DT Swuss F1800 spline
  Tires: Panaracer gravel king 30mm
  Drivetrain: Shimano 11 speed Ultegra 11/34, 52/36
  Bartape: Zipp service course

gallery: []
blurb: |
  

closing_image: ""
---
