---
layout: layouts/bike.njk
title: Trek 820 Mountaintrack
year: 1994
make: Trek
model: 820
tags: [Commuter, Gravel Bike, Cafe Cruiser]
hero: /images/bikes/trek_mountaintrack.jpg

description: |
specs:
  Cranks: Shimano GRX
  Deraileur: Shimano Deore speed
  Tires: 26x2.1 Schwalbe Billy Bonkers
  Grips: ESI
  Bars: Dimension8 620mm 50mm rise, 15 degree sweep
  Pedals: Crankbrothers stamp1
gallery: []

blurb: |
  <img src="/images/close_ups/elektra/20240612_083659.jpg">
closing_image: /images/close_ups/elektra/20240612_083659.jpg