---
layout: layouts/bike.njk
title: Gary Fisher Tassajara
year: 1993
make: Gary Fisher
model: Tassajara
tags: [Commuter, Cafe Cruiser]
hero: /images/bikes/P1060577.jpg

description: |
  

specs:
  Tires: Maxxis DTH 26x2.1
  Grips: ESI
  Cranks: iXF Narrowwide chain ring 38t
  Drivetrain: 1x 12/28 Shimano 7 Speed
  Stem: Origin 8 Threadless conversion
  Pedals: Raceface chester

gallery: []
blurb: |
  

closing_image: ""
---
