---
layout: layouts/bike.njk
title: Gary Fisher Aquila
year: 1994
make: Gary Fisher
model: Aquila
tags: [Commuter, Cafe Cruiser]
hero: /images/bikes/gary_fisher_aquila.jpg

description: |
  

specs:
  Tires: Schwalbe Billy Bonkers 26x2.1
  Grips: Ergon GE1 Evo
  Cranks: Codo w/pass quest 38t narrowwide chain ring
  Drivetrain: 1x 12/28 Shimano 7 Speed stx
  Bars: MSW Dimension Urban 50° Sweep bars
  Pedals: Rockbros mtb

gallery:
  - /images/close_ups/gary_fisher_aquila/DSC00659.jpg
  - /images/close_ups/gary_fisher_aquila/DSC00662_2.jpg
  - /images/close_ups/gary_fisher_aquila/DSC00682.jpg

blurb: |
  <p>
    I picked this bike up from a fellow enthusiast who didn't have much use for it anymore. The striking metallic paint job and the bike's overall excellent condition drew me to it.
    It ended up being the perfect opportunity to modernize some outdated components while still keeping the ethos of a classic 90s Gary Fisher.
  </p>

  <p>
    The cockpit was the first thing updated (bikes from this era have a stretched out stem and narrow handlebars). I wanted this bike to be comfortable around town, so I swapped the bars for something with a bit of rise and a little bit of sweep to bring the controls closer to the rider.
    Next, I converted the 3x drivetrain to a more simple 1x setup with a narrow wide chainring. For the tires, I went with my favorite 26-inch option, Schwalbe Billy Bonkers, for a fast rolling commute. Then I swapped the cheap plastic pedals for a nylon pair with sealed bearings. It gives a bit wider of a platform and has a cleaner look.
    Finally, I ditched the original saddle that had a few rips in it.
  </p>
  
  <p>
    I love the feel of this bike thanks to its natural riding position and fast rolling tires. The shifting is crisp and uncomplicated with plenty of range for city riding. Most of all I love how unique it looks while still being a simple and practical commuter. (An added bonus: the Grinch green was perfect for the holiday season.)
  </p>

closing_image: 
  - /images/close_ups/gary_fisher_aquila/DSC00678.jpg
---
