---
layout: layouts/bike.njk
title: Jamis Ventura "Vicki"
year: ""
make: ""
model: ""
tags: []
hero: /images/bikes/jamis_ventura.jpg

description: |
  

specs:
  Wheels: Shimano WH-RS500 Tubeless
  Tires: Continental Grand Prix 5000s, 28mms
  Cranks: Shimano Ultegra 50/34
  Cassette: Shimano 105 11/34
  Deraileur: Shimano 105 11 speed long cage
  Brakes: Shimano 105
  Cockpit: Specalized 38mm short reach dropbars
  Saddle: RYET

gallery: []
blurb: |
  

closing_image: ""
---
