---
layout: layouts/bike.njk
title: Jamis Renegade
year: ""
make: Jamis
model: Renegade
tags: [Gravel Bike, Commuter]
hero: /images/bikes/jamis_renegade.jpg

description: |
  A Jamis Renegade set up as a workhorse all around commuter bike during the week and a gravel bike on the weekends.
specs:
  Shifters: Shimano Tiagra 10 speed 
  Cranks: Shimano GRX, 40t
  Derailleur: Shimano GRX
  Cassette: Shimano Deore 11-36 HG-50
  Tires: Schwalbe G-One Allround 40mm
gallery:
  - /images/close_ups/jamis_renegade/DSC01971.jpg
  - /images/close_ups/jamis_renegade/DSC01972.jpg
  - /images/close_ups/jamis_renegade/DSC01981.jpg

blurb: |
  <p>
    This Renegade came to us after some time in storage. It was still in good working order, but
    the drivetrain was a bit tired. We converted it to a modern 1x grx setup with a 40t crank and an 11-36 cassette.
    We paired the GRX derailleur with Tiagra road levers and mechanical disc brakes, for a balance of modern shifting with the simplicity of externally routed cable brakes.
  </p>
  <p>
    The Schwalbe G-One Allround tires will roll fast enough into the Financial District on a weekday with enough volume and grip to get roudy on the weekends.
  </p>

closing_image: /images/close_ups/jamis_renegade/DSC01977.jpg
---
