---
layout: layouts/bike.njk
title: Jamis Ventura "Vicki"
year: ""
make: "Jamis"
model: "Ventura"
tags: [Road Bike]
hero: /images/bikes/jamis_ventura.jpg

description: |
  This Jamis was destined for the scrap heap. I truly wasn't sure if it would be ridable again but after hours of restoration this bike flies down the road.

specs:
  Wheels: Shimano WH-RS500 Tubeless
  Tires: Continental Grand Prix 5000s, 28mms
  Cranks: Shimano Ultegra 50/34
  Cassette: Shimano 105 11/34
  Deraileur: Shimano 105 11 speed long cage
  Brakes: Shimano 105
  Cockpit: Specalized 38mm short reach dropbars
  Saddle: RYET

gallery: [
  /images/close_ups/vicki/20230806_112153.jpg,
  /images/close_ups/vicki/20230806_112201.jpg,
  /images/close_ups/vicki/20230815_140826.jpg,
  /images/close_ups/vicki/20230912_121452.jpg,]
blurb: |
  <p>What looked like a hopeless pile of steel became one of my most satisfying transformations.This frame was in rough shape when I found it. It was rusted and out of tune, and the brakes and shifting were non-functional.
  The biggest challenge was the bottom bracket, which was seized solid from years of neglect. After soaking it in PB Blaster and using a table vice, we were able to use the frame as leverage to break
  it free from its rusted prison. Pikes Powdercoat transformed this tired rusted frame with a spectacular glossy eggplant finish.</p>


  <p>I selected a mix of Shimano 105 and Ultegra components to give this bike a smooth and reliable ride. The 11-34 cassette paired with a compact crankset provides the perfect gear range for the rolling hills of central Massachusetts. The WH-RS500 tubeless wheels with continental GP5ks 
  roll incredibly fast. I chose narrower 38mm bars and a short reach drop to bring the rider closer to the controls for a more comfortable position on longer rides.
  The Shimano 105 rim brakes provide plenty of stopping power in all conditions and are easy to maintain. Finally, the 3D-printed RYET saddle is as comfortable as it is slick.
  From the first pedal stroke, the bike took off, feeling smooth and instantly responsive.</p>



closing_image: "/images/close_ups/vicki/P1060837.jpg"
---
