---
layout: layouts/bike.njk
title: "Raleigh Grand Prix - Single speed conversion"
year: "1980"
make: "Raleigh"
model: "Grand Prix"
tags: [Single speed, cafe cruiser, commuter]
hero: /images/bikes/P1060391-Enhanced-NR.jpg

description: |
  

specs:
  Bars: Sunlite Northroad Touring
  Freewheel: Shimano 16t
  Tires: Schwalbe Road Cruiser 27
  Cranks: Campagnolo Centaur 39t
  Chain: Shimano 8 speed
  Grips: Oury
  Brakes: Kool stop

gallery: []
blurb: |
  

closing_image: ""
---
