---
layout: layouts/bike.njk
title: "Salsa Journeyer"
year: "2026"
make: "Salsa"
model: "Journeyer"
tags: [Gravel Bike, Adventure Bike]
hero: /images/bikes/salsa_journeyer.jpg

description: |


specs:
  Drivetrain: Shimano Cues 1x11 U6000
  Tires: Schwalbe One Bite
  Wheels: Shimano GRX WH-RX180
  Grips: Ergon
  Stem: Uno
  Bars: Dimension
  Pedals: Rockbros

gallery: []

blurb: |


closing_image: "/images/close_ups/salsa/DSC01371-3.jpg"
---
