---
layout: layouts/bike.njk
title: Specalized Allez
year: ""
make: ""
model: Allez
tags: [Road Bike]
hero: /images/bikes/P1060548.jpg

description: |
  

specs:
  Wheels: Axis sport
  Tires: RoadSport, 28mm
  Groupset: Shimano 105 11speed 50/34 * 11/34
  Brakes: Shimano 105
  Cockpit: Specialized shallow drop 38mm
  Bar tape: Easton microfiber tape
  Saddle: Body geometry bridge saddle, steel rails

gallery: []
blurb: |
  

closing_image: ""
---
