---
layout: layouts/bike.njk
title: Trek Antelope
year: 1993
make: Trek
model: 820
tags: [Campus Bike, Commuter, Cafe Cruiser]
hero: /images/bikes/trek_antelope.jpg

description: |
  

specs:
  Tires: Schwalbe Billy Bonkers 26x2.1
  Grips: ODI Ruffian
  Cranks: iXF Narrowwide chain ring 38t
  Drivetrain: 1x 11/28 Shimano 7 Speed
  Bars: Upanbike urban bars
  Pedals: Raceface chesters

blurb: |
  <p> 
    This bike came out of a storage container unridden for years but in excellent condition.
    The rider who bought this bike was a college student who needed a safe bike to get to class and practice.
    To me this is the most gratifyiing scenario. Getting a cool bike backo on the he roade with a few practical upgrades
  </p>


#closing_image: "/images/close_ups/trek_antelope/DSC01023.jpg"
---
