---
layout: layouts/bike.njk
title: Univega Alpina 5.3
year: 1993
make: Univega
model: Alpina
tags: [campus cruiser]
hero: /images/bikes/univega_alpina.jpg

description: |
  The Univega Alpina 5.3 is a classic 90s rigid mountain. A perfect platform to turn into a stylish campus cruiser.
specs:
  Groupset: Shimano Deore LX Rapidfire Plus shifters 3x7
  Tires: 26x2.1
  Grips: Fifty fifty
  Bars: Gewage 620mm 50mm rise, 15 degree sweep
  Pedals: Rockbros MTB
gallery:
  - /images/close_ups/univega_alpina/P1070535-2.jpg
  - /images/close_ups/univega_alpina/P1070536-2.jpg
  - /images/close_ups/univega_alpina/P1070573.jpg
  - /images/close_ups/univega_alpina/P1070527-3.jpg
blurb: |
  <p>
    We acquired this Univega Alpina 5.3 in remarkably good condition. The frame and components were all original, with very little evidence of actual mileage. 
    Bikes from this era often suffer from grease that has broken down into a sticky paste that render the shifters useless. 
    After a quick ultrasonic bath and application of thin oil, the drivetrain shifted perfectly again.
  </p>
  <p>
    The headset was fully cleaned out and repacked with new grease to restore smooth steering. 
    The narrow handlebars were replaced with a wider bar with a bit more rise for a more comfortable riding position. 
    All shifting and brake cables were updated, and a set of comfortable grips transformed the bike into an easygoing campus cruiser.
  </p>

closing_image: /images/close_ups/univega_alpina/P1070567-4.jpg