---
layout: layouts/bike.njk
title: Univega Alpina 5.3
year: 1993
make: Univega
model: Alpina
tags: [campus cruiser]
hero: /images/bikes/univega_alpina.jpg

description: |
  The Univega Alpina 5.3 is a classic 90s rigid mountain. A perfect platform to turn into a stylish campus cruiser.
specs:
  Groupset: Shimano Deore LX Rapidfire Plus shifters 3x7
  Tires: 26x2.1
  Grips: Fifty fifty
  Bars: Gewage 620mm 50mm rise, 15 degree sweep
  Pedals: Rockbros MTB
gallery:
  - /images/close_ups/univega_alpina/P1070535-2.jpg
  - /images/close_ups/univega_alpina/P1070536-2.jpg
  - /images/close_ups/univega_alpina/P1070573.jpg
  - /images/close_ups/univega_alpina/P1070527-3.jpg
blurb: |
  This Univega Alpina 5.3 was in incredible condition when we acquired it. 
  The frame and compoents were all original with very little evidence of miles ridden.
  One of the key issues dealing with a bike of this era is that the grease breaks down over time into a sticky paste.
  We cleaned out the old headset great and repacked it with fresh grease to ensure smooth steering.
  The shifters had not been used in years and were gummed up with old grease, after a a bath in the ultrasonic cleaner and rebulbricating them with thin oil they shifted perfectly again. 
  We swapped the narrow bars with something a bit wider, a little more rise for a more comfortable riding position. 
  We replaced all the shifting and brake cable this bike into a campus cruiser by adding comfortable grips. The result is a stylish and functional bike perfect for getting around town.
closing_image: /images/close_ups/univega_alpina/P1070567-4.jpg