    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MGW68HYY2Q"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MGW68HYY2Q');
    </script>
    <meta charset="utf-8">
    <title>{{ title or "Mead Street Cycles" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/site.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Croissant+One&family=DM+Serif+Display:ital@0;1&family=Playwrite+DE+LA:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shippori+Mincho+B1&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap" rel="stylesheet">
